{
    "presets": [["@babel/preset-env", {
        "targets": {
            "electron": "5.0.1"
        }
    }],
    "@babel/preset-typescript"],
    "exclude": "/node_modules/",
    "sourceMaps": "inline"
}