body {
    pointer-events: none;
}

.click-on {
    pointer-events: all;
}
.click-through {
    pointer-events: none;
}

.overlay_container {
    -webkit-transition: all 0.2s ease-in;
}

.overlay_decklist {
    overflow-x: hidden;
    overflow-y: auto;
    flex-grow: 2;
}

.overlay_decklist a {
    color: inherit;
    text-decoration: none;
}

.overlay_deckname {
    background-color: rgba(0,0,0,0.75);
    -webkit-app-region: drag;
    padding: 12px 0 0 0;
    text-align: center;
    color: #fae5d2;
}

.overlay_archetype {
    font-size: 14px;
    background-color: rgba(0,0,0,0.75);
    opacity: 1;
    -webkit-app-region: drag;
    padding: 4px 0 0 0;
    text-align: center;
    color: #fae5d2;
}

.overlay_deckcolors {
    background-color: rgba(0,0,0,0.75);
    -webkit-app-region: drag;
    height: 24px;
    display: flex;
    justify-content: center;
    padding-top: 4px;
    margin: 0 0 auto 0;
}

.overlay_separator {
    padding: 4px;
    height: 16px;
    background: url(../images/separator_spr.png) center no-repeat;
}

.main_hover {
    margin-left: auto !important;
    margin-right: auto !important;
}

.overlay_hover {
    pointer-events: none;
    width: 90%;
    max-width: 300px;
    opacity: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 4.75% / 3.5%;
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.5);
    -webkit-transition: opacity 0.2s ease-in;
}

.overlay_hover_container {
    pointer-events: none;
    position: absolute;
    bottom: 0;
    float: right;
    width: 100%;
    z-index: 50;
}

.overlay_clock_spacer {
    min-height: 64px;
}

.overlay_clock_container {
    -webkit-app-region: drag;
    position: relative;
    display: flex;
    flex-direction: column;
    bottom: 0;
    width: 100%;
    min-height: 64px;
    height: 64px;
    z-index: 40;
    background-color: rgba(0, 0, 0, 0.75);
}

.overlay_draft_container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 64px;
    min-height: 64px;
    top: 0;
    z-index: 40;
}

.overlay_deck_container {
    pointer-events: none;
    position: absolute;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    width: 100%;
    height: 64px;
    top: 64px;
    z-index: 40;
}

.decklist_title {
    background-color: rgba(0,0,0,0.75);
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    margin: 0 auto 1px auto;
    text-align: center;
    color: rgba(255, 255, 255, 0.85);
}

.chance_title {
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    margin: 0px auto;
    text-align: center;
    color: rgba(255, 255, 255, 0.85);
}

.clock_elapsed {
    justify-content: center;
    display: flex;
    margin-left: 32px;
    width: calc(100% - 64px);
    height: 48px;
    text-align: center;
    line-height: 48px;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.8);
    z-index: 50;
}

.clock_turn {
    justify-content: center;
    display: flex;
    margin-left: 32px;
    width: calc(100% - 64px);
    height: 16px;
    position: relative;
    top: 5px;
    text-align: center;
    line-height: 16px;
    font-size: 15px;
    color: #d4c6af;
    z-index: 50;
}

.clock_priority_1,
.clock_priority_2 {
    margin: 6px;
}

.clock_priority_1,
.clock_priority_2,
.clock_pname1,
.clock_pname2 {
    width: 50%;
}

.pname_priority {
    color: #bdd6ff;
}

.clock_prev,
.draft_prev,
.deck_prev,
.odds_prev {
    -webkit-app-region: no-drag;
    position: absolute;
    cursor: pointer;
    background: url(../images/prev.png) no-repeat center;
    z-index: 51;
    display: block;
    opacity: 0.5;
    align-self: flex-start;
    width: 32px;
    height: 64px;
    -webkit-transition: all 0.2s ease-in;
}

.clock_next,
.draft_next,
.deck_next,
.odds_next {
    -webkit-app-region: no-drag;
    cursor: pointer;
    position: absolute;
    background: url(../images/next.png) no-repeat center;
    z-index: 51;
    opacity: 0.5;
    align-self: flex-end;
    display: block;
    width: 32px;
    height: 64px;
    -webkit-transition: all 0.2s ease-in;
}

.clock_prev:hover,
.clock_next:hover,
.draft_prev:hover,
.draft_next:hover,
.deck_prev:hover,
.deck_next:hover,
.odds_prev:hover,
.odds_next:hover {
    opacity: 1;
}

.overlay_samplesize_container {
    margin-top: 16px;
    position: relative;
    height: 32px;
    flex-direction: column;
    display: flex;
    width: 100%;
}

.odds_number {
    width: 100%;
    margin-top: auto;
    text-align: center;
    color: rgba(255, 255, 255, 0.85);
}

.odds_prev,
.odds_next {
    height: 44px;
}

.overlay_card_quantity {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.inventory_card_quantity_blue {
    width: 18px;
    height: 18px;
    display: inline-block;
    background: center no-repeat url("../images/quantity_blue.png");
}

.inventory_card_quantity_green {
    width: 18px;
    height: 18px;
    display: inline-block;
    background: center no-repeat url("../images/quantity_green.png");
}

.inventory_card_quantity_gray {
    width: 18px;
    height: 18px;
    display: inline-block;
    background: center no-repeat url("../images/quantity_gray.png");
}

.inventory_card_quantity_orange {
    width: 18px;
    height: 18px;
    display: inline-block;
    background: center no-repeat url("../images/quantity_orange.png");
}

.lands_div {
    max-width: 120px;
    margin: 0 auto 16px auto;
    padding: 16px;
    border-radius: 6px;
    background-color: rgba(0,0,0,0.75);
    opacity: 1;
    font-family: var(--main-font-name);
}

.mana_cont {
    display: flex;
    font-size: 14px;
    line-height: 23px;
    height: 24px;
    color: white;
    justify-content: space-between;
    flex-flow: row-reverse;
    overflow: hidden;
}

.mana_curve_container {
    margin: 6px auto;
    max-width: 630px;
    padding-left: 12px;
    padding-right: 12px;
    width: calc(100% - 24px);
}

.mana_curve {
    display: flex;
    align-items: flex-end;
    height: 96px;
    margin: 0px 4px;
    padding-bottom: 4px;
    border-bottom: 2px solid rgba(250, 229, 210, 0.8);
    width: 100%;
}

.mana_curve_column {
    color: #fae5d2;
    justify-content: space-around;
    width: -webkit-fill-available;
    flex-direction: column;
    margin: 0px 4px;
    display: flex;
    flex-direction: column;
    background-color: rgba(250, 229, 210, 0.8);
}

.mana_curve_number {
    opacity: 1;
    position: relative;
    height: 0px;
    top: calc(50% - 8px);
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 3px 3px 3px #000000ad;
    font-family: Beleren;
}

.mana_curve_numbers {
    display: flex;
    align-items: flex-end;
    height: 24px;
    width: 100%;
}

.mana_curve_costs {
    display: flex;
    align-items: flex-start;
    width: 100%;

}

.mana_curve_column_number {
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #FAE5D2;
    width: 100%;
    font-family: "belerenbold";
}

.mana_curve_column span {
  align-self: flex-end;
}

.types_container {
    margin: 6px auto;
    max-width: 630px;
    padding-left: 12px;
    padding-right: 12px;
    width: calc(100% - 24px);
    display: flex;
    justify-content: space-between;
}

.type_icon_cont {
    display: flex;
    flex-direction: column;
}

.type_icon {
    width: 32px;
    height: 32px;
    margin-bottom: 8px;
}

.type_art { background-image: url(../images/type_artifact.png); }
.type_cre { background-image: url(../images/type_creature.png); }
.type_enc { background-image: url(../images/type_enchantment.png); }
.type_ins { background-image: url(../images/type_instant.png); }
.type_lan { background-image: url(../images/type_land.png); }
.type_pla { background-image: url(../images/type_planeswalker.png); }
.type_sor { background-image: url(../images/type_sorcery.png); }

.pie_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px auto;
    height: 160px;
}

.pie_container_outer {
    width: 100%;
    display: flex;
    flex-direction: initial;
    align-items: center;
    margin: 16px auto;
    height: 160px;
}

.pie_container span, .wildcards_cost span , .types_container span {
    text-align: center;
    display: block;
    margin-bottom: 12px;
    font-family:  var(--main-font-name);
    font-size: 16px;
    color: #FAE5D2;
}

.pie {
  width: 128px; height: 128px;
  border-radius: 50%;
}

.overlay_icon {
    width: 16px;
    height: 16px;
    margin: auto 0 auto 12px;
    border-radius: 50%;
    flex-shrink: 0;
}
